@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '~@fontsource/ibm-plex-sans/index.css';

$accent: #ec3783;
$primary: #5745de;

$bg-darwinia: linear-gradient(-45deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);

$radius-base: 10px;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

@mixin main-border {
  border: 2px solid transparent;
  border-radius: $radius-base;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(to right, $primary, $accent) border-box;
}

@mixin divider($color) {
  content: '';
  position: absolute;
  left: 10%;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 1px;
  background: $color;
}

.dream-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 10px;
  cursor: pointer;
  @include main-border();
}

.dream-btn:hover,
.dream-btn:focus {
  color: $primary;
  box-shadow: 0 0 2px 0 $primary;
  outline: none;
}

.main-layout {
  .ant-layout-header {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header-account-list {
  position: relative;
  padding-bottom: 10px;

  .ant-dropdown-menu-title-content {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &::after {
    @include divider(#f1f1f1);
  }
}

#wallets {
  .ant-badge-dot {
    width: 12px;
    height: 12px;
  }

  .ant-table-row-expand-icon-collapsed {
    cursor: default;

    &:hover {
      border-color: transparent;
    }
  }
}

.table-without-head {
  .ant-table-thead {
    display: none !important;
  }

  .ant-table {
    margin: 0 !important;
  }

  .ant-table-container,
  table {
    border-radius: 0 !important;
  }
}

.value-column {
  padding-left: 0;

  .ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table,
  .ant-table-tbody > tr > td > .ant-table-expanded-row-fixed > .ant-table-wrapper:only-child .ant-table {
    margin-left: 0;
  }

  .ant-table.ant-table-bordered > .ant-table-container {
    border-left: none;
  }
}

.wallet-collapse {
  .ant-collapse-header-text {
    float: left;
    max-width: 100%;
  }
}

.wallet-member::placeholder,
.wallet-member input::placeholder {
  font-size: 12px;
}

.small-table {
  .ant-table-cell {
    padding: 2px 10px;
    height: 50px;
  }
}

.ant-card.ant-card-bordered {
  border-radius: 0.25rem;
  overflow: hidden;
}

.members {
  .ant-table-cell {
    padding: 2px 10px;
    height: 50px;
  }
}

.record-table,
.multisig-list-table {
  tr.ant-table-expanded-row > td {
    background-color: white;
  }

  tr.ant-table-expanded-row > td:hover {
    background-color: white;
  }

  .record-expand,
  .multisig-list-expand {
    .ant-table-wrapper.mb-4.mx-4 {
      margin: 0;

      .ant-table-container {
        border-radius: 0;
      }
    }
  }
}

.ant-input,
.ant-input-number {
  border-radius: 0.15rem !important;
  border-color: #d9d9d9 !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 2px #d9d9d990 !important;
  box-shadow: 0 0 0 3px #00000008 !important;

  &:hover {
    border-color: #d9d9d9 !important;
  }

  &:focus {
    border-color: #d9d9d9 !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px #d9d9d990 !important;
    box-shadow: 0 0 0 3px #00000008 !important;
  }
}

.ant-select-selector {
  border-radius: 0.15rem !important;
  border-color: #d9d9d9 !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 2px #d9d9d990 !important;
  box-shadow: 0 0 0 3px #00000008 !important;

  &:hover {
    border-color: #d9d9d9 !important;
  }

  &:focus {
    border-color: #d9d9d9 !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px #d9d9d990 !important;
    box-shadow: 0 0 0 3px #00000008 !important;
  }
}

.ant-input-affix-wrapper {
  border-radius: 0.15rem !important;
  border-color: #d9d9d9 !important;
  outline: 0 !important;
  box-shadow: none !important;

  &:hover {
    border-radius: 0.15rem !important;
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
  }

  &:focus {
    border-radius: 0.15rem !important;
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
  }

  .ant-input {
    box-shadow: none !important;

    &:hover {
      box-shadow: none !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}

.ant-alert {
  border-radius: 0.15rem !important;
}

.ant-alert-info {
  background-color: #f4f0ff !important;
  border: 1px solid #d5c9ff !important;
}

.ant-dropdown-menu {
  border-radius: 0.15rem !important;
}

.ant-tooltip-inner {
  border-radius: 0.15rem !important;
}

.ant-pagination-item {
  border-radius: 0.15rem !important;
}

.ant-pagination-item-link {
  border-radius: 0.15rem !important;
}

.ant-message-notice-content {
  border-radius: 0.15rem !important;
}

.account-drawer {
  .ant-drawer-content-wrapper {
    height: 100vh !important;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::selection {
  color: rgba(0, 0, 0, 0.87) !important;
  background: #cce2ff !important;
}
